# Désactiver l'affichage des fichiers du répertoire
Options -Indexes
DirectoryIndex planning.php
<Files "login2.php">
    Satisfy any
    #Allow from all
    Require all granted
</Files>
<FilesMatch "^admin_.*\.php$">
   AuthName "Zone protégée"
   AuthType Basic
   AuthUserFile /var/www/html/projectsend/planning-epicafe/.htpasswd
   Require valid-user
</FilesMatch>
<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires 0
</IfModule>
